Repository uber/causalml, pull requests merged in 2025-02, with the labels that each got.

#812 Remove the pygam dependency and allow latest versions of Cython, numpy, scipy, scikit-learn
  causalml/inference/tree/causal/_criterion.pyx
  pyproject.toml
Labels: dependencies

#814 Add the Python 3.12 test and wheel back
  .github/workflows/python-publish.yml
  .github/workflows/python-test.yaml
  docs/environment-py38-rtd.yml
  docs/environment-py39-rtd.yml
  pyproject.toml
Labels: test, installation

#816 add calibration example
  docs/examples.rst
  docs/examples/calibration.ipynb
Labels: example

#817 resolves #811, update propensity.py
  causalml/propensity.py
Labels: enhancement
